form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
}

form input {
  flex-grow: 1;
  display: block;
  width: auto;
  background: transparent;
  border: none;
  color:chartreuse;
  padding: 2rem;
  font-size: 100%;
}

::placeholder {
  color: lightgreen;
  opacity: 1; 
}

form input:focus {
  outline: none;
}

form button {
  background-color: transparent;
  border: 1px solid lightgreen;
  color: lightgreen;
  padding: 0.5rem 1rem;
  font-size: 100%;
  cursor: pointer;
  margin-right:1rem;
}

.errorContainer {
  position: absolute;
  top:-3rem;
  left:2rem;
}

.errorContainer p {
  background-color: blue;
  color: white;
  padding: 0.5rem;
}